# Ignore everything in the root directory by default
/*

# Allow root configuration & documentation
!/.gitignore
!/README.md

# Allow only frontend and backend folders
!/frontend/
!/AIMS-BACKEND/
!/backend/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
venv/
env/
.venv/
.env
local.env
*.bak

# Node.js / React
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project Specific (Non-recommended files for version control)
*.md
!README.md
*.csv
.fallow/
Temp/
temp/
AIMS-BACKEND/documents/
backend/documents/
